:root {
	--color-primary: #ff375c;
	--color-black: #090909;
	--color-white: #fcfcfc;
	--color-light-grey: #f2f2f2;
	--color-dark-grey: #353535;
    --text-color: var(--color-black);
	--font-family-base: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--font-family-title: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--font-size-small: 1.2rem;
	--font-size-medium: 1.6rem;
	--font-size-large: 1.8rem;
	--font-size-x-large: 2.3rem;
	--font-size-xx-large: 4.8rem;
    --font-weight-regular: 400;
	--font-weight-bold: 700;
	--line-height-small: 1.2;
	--line-height-base: 1.5;
	--line-height-big: 1.8;
}

/* ----- GENERAL ----- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-base);
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--color-light-grey);
    line-height: var(--line-height-base);
    color: var(--color-dark-grey);
    font-size: var(--font-size-medium);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-title);
	font-weight: var(--font-weight-bold);
}

#logo {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

#logo:hover {
    transform: scale(1.1);
}

/* ----- HEADER ----- */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 10rem;
    padding: 2rem 4rem;
    margin: 2rem;
    height: 100px;
    box-shadow:
		0 10px 15px rgba(0, 0, 0, 0.1),
		0 8px 10px rgba(0, 0, 0, 0.1);
}

header button {
    padding: 1rem 2rem;
    background-color: var(--color-primary);
    border-color: var(--color-white);
    border-style: solid;
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    transition-duration: 0.25s;
    font-size: medium;
    border-width: 3px;
    border-radius: 999px;
    right: 10rem;
    cursor: pointer;
}

header button:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
}

#login-link {
    display: none;
}

#logout-link {
    display: none;
}

/* ----- MAIN ----- */

main {
    padding: 2rem;
}

.container {
	width: 100%;
    height: 100%;
	margin-left: auto;
	margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: 75%;
}

ul {
    list-style: none;
}

.col-3 {
    float: left;
	width: 33.33%;
}

.login-card {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.filter-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login-card,
.filter-card,
.place-card,
.place-details,
.review-card {
    margin: 20px;
    padding: 10px;
    background-color: var(--color-white);
    border-radius: 10px;
    transition: transform 0.25s ease-in-out;
    box-shadow:
		0 10px 15px rgba(0, 0, 0, 0.05),
		0 8px 10px rgba(0, 0, 0, 0.05);
}

.place-card:hover {
    transform: scale(1.05);
}

/* ----- FOOTER ----- */

.footer {
    color: var(--text-color);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p {
    padding: 1rem 1rem;
    text-align: center;
    font-size: var(--font-size-small);
}
